body {
    background-color: bisque ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
}

.display-container {
    color: white;
    height: 60px;
    margin: 10px 10px 10px 10px;
}

.screen {
    background-color: lightgrey;
    color: black;
}

.button-row {
    display: flex;
    border: solid;
    border-color: red;
}

.bottom-container {
    display: flex;
}