
body {
    display: flex;
    justify-content: center;
}

.calculator-body {
    align-self: center;
    height: 600px;
    width: 500px;
    background-color: navy;
}

.display-container {
    height: 100px;
    width: 465px;
    display: flex;
    background-color: white;
    margin: 15px 15px 15px 15px;
}

.screen {
    height: 100px;
    width: 450px;
}

.button-area {
    display: flex;
    gap: 15px;
}

.digit-container {
    display: flex;
    flex-direction: column;
}

.digit-row {
    display: flex;
    flex-direction: row-reverse;
}

.digit {
    background-color: black;
    color: white;
}

.operation-container {
    display: flex;
    flex-direction: column;
}

.operation {
    background-color: crimson;
    color: white;
    height: 50px;
    width: 100px;
}

.clear {
    background-color: green;
    color: white;
}